.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to left bottom,
    #ee39a0,
    #dc59be,
    #c672d5,
    #ae86e3,
    #9897e9,
    #8f98e5,
    #8899e0,
    #829ada,
    #808fd0,
    #7d84c6,
    #7b7abc,
    #796fb1
  );
  overflow: hidden;
  .whole_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 6rem;
    margin-top: 7rem;
    @media screen and (max-width: 450px) {
      flex-direction: column;
      gap: 3rem;
      margin-left: 7rem;
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      h1 {
        font-size: 6rem;
        @media screen and (max-width: 450px) {
          font-size: 3rem;
          position: absolute;
          top: 200px;
          left: 32px;
        }

        span {
          color: rgb(159, 58, 221);
        }
      }
      .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 0;
        top: 2rem;
        @media screen and (max-width: 450px) {
           display: none;
        }

        .btn1 {
          padding: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          border: none;
          border-radius: 5px;
          background-color: #423f3f;
          cursor: pointer;
          color: #fff;
          z-index: 10;
          transition: 0.6s ease-in-out;
     
          &:hover {
            background-color: #fff;
            color: #000;
          }
        }
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      right: 0;
      img {
        @media screen and (max-width: 450px) {
          width: 260px;
          margin-top: 3rem;
          margin-right: 2rem;
        }
      }
    }
  }
}
