* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}

.container {
  /*  padding: 0 10rem; */
  background: rgba(154, 70, 185, 0.21);
  background-color: #5db297;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 6rem;
  
}
@media screen and (max-width: 1600px) {
  .container {
    padding: 0;
  }
}
